*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

body {
    background-color: #151515;
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
    position: sticky;
    background-color: #222121;
    top: 0;
    z-index: 2;
}
.container {
    max-width: 900px;
    margin: auto;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.header-content ul{
    display: flex;
    gap: 10px;
}

.welcome-content{
    display: flex;
    padding: 50px 0;
}

.col-1{
    display: flex;
    flex-direction: column;
    gap: 25px;
    flex: 2;
}

.col-1 h3{font-size: 2.5rem;}
.col-1 h3 span{
    text-decoration: underline; 
    text-decoration-color: rgb(216, 123, 37);}

.col-1 a {
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration-color: rgb(59, 178, 168);
}

.col-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex: 1;
    overflow: hidden;
    
}

.img-pizza, .img-hoja, .img-tomato {
    position: absolute;
}

.img-tomato {
    width: 20%;
    filter: blur(20px);
    right: 40px;
    top: 90px;

}

.img-hoja {
    width: 20%;
    left: 40px;
    bottom: 40px;
    transform: rotate(130deg);
    filter: blur(20px)
}

/*HOVERS*/

.product-card:hover .card-hover {
    display: flex;
}

#productos {
    background-color: lightgrey;
}

#productos > .container {
    background-color: #c3c0c0;
}

.productos-content {
    display: flex;
    gap: 10px;
    padding: 20px;
}

/* .productos-content div:nth-child(1) {
    background-color: rgb(99, 99, 208);
} */
/* .productos-content div:nth-child(2) {
    background-color: rgb(0, 255, 98);
} */
/* .productos-content div:nth-child(3) {
    background-color: rgb(255, 0, 72);
} */

.btn-guardar {
    color: white;
    background-color: rgb(79, 82, 8);
    padding: 15px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.product-card img {
    width: 100%;
    height: 100%;
}

.product-card {
    flex: 1;
    position: relative;
    border-radius: 30px;
    overflow: hidden;
}
.card-hover {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #15151598 !important;
    top: 0;
    left: 0;
}

.card-hover-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.card-hover-footer {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    gap: 10px;
    cursor: pointer;
}

.card-hover-footer i{
    padding: 10px;
    background-color: white;
    border-radius: 50%;
    font-style: normal;
}

.card-hover-header a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.skills-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 80px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.skills-content > div{
    display: grid;
    row-gap: 10px;
}


.content {
    text-align: center;
    padding: 50px 20px;
    background-color: #fff;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    margin: 10px;
}

.footer-section h2 {
    margin-bottom: 10px;
    font-size: 18px;
    border-bottom: 2px solid #e91e63;
    padding-bottom: 5px;
}

.footer-section ul {
    list-style: none;
}

.footer-section ul li a {
    color: #ccc;
    text-decoration: none;
    margin: 5px 0;
    display: block;
    transition: color 0.3s ease;
}

.footer-section ul li a:hover {
    color: #e91e63;
}

.social-links a img {
    width: 24px;
    margin: 0 5px;
}

.footer-bottom {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    border-top: 1px solid #444;
    padding-top: 10px;
}


/* Primer breakpoint tablet */
@media screen and (max-width: 800px){
     .welcome-content{
         flex-direction: column-reverse;
     }
     .col-2{
         /* background-color: cornflowerblue!important; */
         flex: none;
         height: 300px;
     }
     .img-pizza, .img-hoja, .img-tomato {
         width: 230px;
     }
     /* productos-content{
         flex-wrap: wrap;
     }
     .product-card{
         flex: none;
         width: 80%;
         margin: auto;
     } */
}
   
/* Segundo breakpoint mobile */
@media screen and (max-width: 576px) {

    .productos-content{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .skills-content {
        grid-template-columns: repeat(1, 1fr);
    }
    .skills-content > div{
        text-align: center;
    }
}